* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    /* 不要滚动条 */
    overflow: hidden;
}

body {
    background: url(/bigevent/assets/images/login_bg.jpg) no-repeat center/cover;
}

.logo {
    margin-top: 20px;
}

.reglog {
    width: 400px;
    height: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}

.title {
    height: 60px;
    background: url(/bigevent/assets/images/login_title.png) no-repeat center;
}

.layui-form {
    padding: 0 30px;
}

#gotoRegister,
#gotoLogin {
    float: right;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.layui-input {
    padding-left: 35px;
}

.register {
    display: none;
}

/* .login {
    display: none;
} */